<mat-tab-group
  class="dashboard-container"
  mat-stretch-tabs
  color="accent"
  backgroundColor="primary"
>
  <mat-tab label="Play">
    <app-games class="page-container"></app-games>
  </mat-tab>
  <mat-tab label="Manage">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="friends">
        <app-friends class="page-container"></app-friends>
      </mat-tab>
      <mat-tab label="groups">
        <app-groups class="page-container"></app-groups>
      </mat-tab>
      <mat-tab label="profile">
        <app-profile class="page-container"></app-profile>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
