.mat-raised-button {
  margin: 0 5px;
  width: 40%;
  height: 50px;
}

.overview-section {
  height: 80%;
  text-align: center;
}

.options-section {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.mat-card {
  height: 800px;
  width: 600px;
}
