@use '@angular/material' as mat;
@use 'palette-helper';

$dark-bg: #212121;

.custom-app-background {
  background-color: $dark-bg;
}

$dark-primary-color: mat.define-palette(mat.$deep-purple-palette, 700);
$dark-accent-color: mat.define-palette(mat.$cyan-palette, 500);
$dark-warn-color: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary-color,
      accent: $dark-accent-color,
      warn: $dark-warn-color,
    ),
  )
);

$dark-theme: palette-helper.modify-background($dark-theme, $dark-bg);
