<div *ngIf="!loading" class="gameboard-container">
  <div class="board-section">
    <div
      class="board-row"
      *ngFor="
        let guess of gameState.guesses;
        index as rowIndex;
        first as isFirstRow
      "
    >
      <mat-card
        class="{{
          gameState.guesses[rowIndex].output[colIndex]
            ? 'board-square ' +
              gameState.guesses[rowIndex].output[colIndex] +
              '-key'
            : 'board-square'
        }}"
        *ngFor="
          let letter of initializedWordSize;
          index as colIndex;
          first as isFirstCol
        "
      >
        {{ gameState.guesses[rowIndex].guess[colIndex] }}</mat-card
      >
    </div>
  </div>

  <div class="keyboard-section">
    <app-keyboard (keyPressed)="onKeyInput($event)"></app-keyboard>
  </div>
</div>
