@import "../../../assets/styles/variables.scss";

.gameboard-container {
  display: relative;
}

.board-section {
  position: absolute;
  width: $breakpoint-mobile;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $breakpoint-mobile) {
    width: 100vw;
    top: 15%;
  }
}

.board-row {
  width: 100%;
}

.keyboard-section {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  height: 250px;
  width: $breakpoint-mobile;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $breakpoint-mobile) {
    width: 100vw;
    pading: 10px;
    bottom: 0;
  }
}

.correct-key {
  background-color: $correct-color;
}

.close-key {
  background-color: $close-color;
}

.incorrect-key {
  background-color: $incorrect-color;
}
