<div class="layout-inner-container">
  <div class="page-container">
    <mat-card>
      <div class="section-header">
        <h1>Sign-Up</h1>
      </div>
      <form
        class="section-form"
        [formGroup]="signupForm"
        (ngSubmit)="onSignup()"
      >
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" name="email" />
          <mat-error
            *ngIf="
            !signupForm.controls?.['email']?.pristine &&
              !signupForm.controls?.['email']?.valid
            "
          >
            {{ validateField("email") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            name="username"
          />
          <mat-error
            *ngIf="
            !signupForm.controls?.['username']?.pristine &&
              !signupForm.controls?.['username']?.valid
            "
          >
            {{ validateField("username") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            name="password"
          />
          <mat-error
            *ngIf="
              !signupForm.controls?.['password']?.pristine &&
              !signupForm.controls?.['password']?.valid
            "
          >
            {{ validateField("password") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            name="confirmPassword"
          />
          <mat-error
            *ngIf="
              !signupForm.controls?.['confirmPassword']?.pristine
            "
          >
            {{ validateField("confirmPassword") }}
          </mat-error>
        </mat-form-field>
      </form>
      <div class="section-control">
        <button
          mat-raised-button
          class="signup-button"
          color="primary"
          (click)="onSignup()"
          [disabled]="!signupForm.valid"
        >
          Signup!
        </button>
      </div>
    </mat-card>
  </div>
</div>
