@import "../../../assets/styles/variables.scss";

.gameboard-container {
  display: flex;
  height: 90vh;
  align-items: center;
  flex-direction: column;
}

.board-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;

  @media (max-width: $breakpoint-mobile) {
    width: 100vw;
  }
}

.board-row {
  width: 100%;
}

.keyboard-section {
  width: $breakpoint-mobile;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $breakpoint-mobile) {
    width: 100vw;
    pading: 10px;
    bottom: 0;
  }
}

.correct-key {
  background-color: $correct-color;
}

.close-key {
  background-color: $close-color;
}

.incorrect-key {
  background-color: $incorrect-color;
}
