/* You can add global styles to this file, and also import other style files */

// custom themes:
@import "./assets/styles/theme.scss";

// global styles:
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.layout-upper-container {
  height: 95vh;
}

.layout-lower-container {
  text-align: center;
  height: 5vh;
}

.layout-inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.page-container {
  display: flex;
  align-items: center;
}
