/* You can add global styles to this file, and also import other style files */

// custom themes:
@import "./assets/styles/theme.scss";
@import "./assets/styles/variables.scss";

// global styles:
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.layout-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: red;
}

h1 {
  font-size: 3rem !important;
}
